$grey_footer:		#1A1E25;
$grey_border:   	#363a43;
$grey_border2:   	#32353e;
$grey_footer_text: 	#53575f;
$grey_text: 		#9ca0a1;
$grey_background:	#292D36;

$white1: 			#e3e2e2;
$white2: 			#bab9b9;
$purple:			#CC3366;
$blue1:				#02B1FC;