$side-margin:	30px;
$zero-margin: 0px;
$std-spacing:	10px;
$short-padding:	5px;
$std-spacing2: 15px;
$progressbar-bg-size: 32px;
$border-width: 1px;
$carousel-item-spacing: 10px;
$logo-width: 30%;
$logo-landscape-width: 20%;
$strip-title-no-of-lines: 2;