$content-carousel-height: 200px; // Fixed height for all devices
$content-carousel-btn-height: 180px; // Fixed height for all devices
$side-margin:	30px;
$zero-margin: 0px;
$padding1:	5px;
$padding2:	10px;
$padding3: 15px;
$padding4:	20px;
$probar-bg-size: 32px;
$probar-hgt: 200px;
$border-width: 1px;