$sans-serif:          helvetica, arial, sans-serif;
$arial:				  arial, helvetica, sans-serif;
$serif:               "Times New Roman", Times, serif;

$base-font-size:      12px;
$h1-font-size:        $base-font-size +2px;

$heading-font-size: 14px;
$small-heading-font-size: 12px;
$footer-font-size: 11px;

