.mw-details{
	background: $grey_background;
  	margin: 0;
  	.page{
		color: $white1;
		p a{
			color: $white1;
		}	
	}
	.mw-h1{
		color: $grey_text;
		padding-left: 30px;	
		padding-right: 30px;		
	}
	.mw-content-style{
		color: $white1;
		font-size: $base-font-size;
		font-family: $arial;
		padding: 0px 30px 0px 30px;
	}
	.outbrainGlobalClass{
		border-top: 1px solid #363a43;
		margin: 10px 30px 10px 30px;
	}
	.mw-you-like-container{
		height: 160px;
		overflow:	hidden;
		padding-top:	0px;
		.mw-you-like{
			margin-left: 10.8%;
		}
		.item-link-container{
			margin: 15px;
		}
		.item-container{
			width: 100% !important;
		}
		.carousel-button{
     		margin-top: 35px;
     		margin-left: 5px;
    	}
    	.carousel-button-container{
    		height: 120px;
    	}
		.mw-strip-img{
			width: 100% !important;
			height: 100% !important;
		}
		.mw-text-content{
			.strip-rec-link-title{
				text_decoration: none;
				color: $grey_text;
			}
		}
		.ob_what{
		padding: 0px 50px 10px 10px;
		}
	}
}