.mw-details{
	background: $grey_background;
  	margin: $zero-margin;
  	.page{
		color: $white4;
		p a{
			color: $white1;
		}	
	}
	.mw-h1{
		padding-left: $side-margin;	
		padding-right: $side-margin;		
	}
	.mw-content-style{
		color: $white4;
		font-size: $base-font-size;
		font-family: $arial;
		padding: $zero-margin $side-margin;
		-webkit-text-size-adjust:none;
	}
	.outbrainGlobalClass{
		border-top: $border-width solid $grey_border2;
		margin: $std-spacing $side-margin;
	}
	.mw-carousel-holder {
    padding: $zero-margin ($side-margin - $carousel-item-spacing);
    overflow: hidden;
    .ob_org_header {
    	padding-left: 7px;
    }
  }
  .NA .strip-img{
  	border: $border-width $grey_border3 solid !important;
  }
}