.mw-details{
	background: $grey_background;
  	margin: 0;
  	.page{
		color: $white4;
		p a{
			color: $white1;
		}	
	}
	.mw-h1{
		padding-left: 30px;	
		padding-right: 30px;		
	}
	.mw-content-style{
		color: $white4;
		font-size: $base-font-size;
		font-family: $arial;
		padding: 0px 30px 0px 30px;
	}
	.outbrainGlobalClass{
		border-top: 1px solid $grey_border2;
		margin: 10px 30px 10px 30px;
	}
	.mw-carousel-holder {
    padding: 0px 20px;
    overflow: hidden;
  }
}