// Every page should have a class on the body
// Scope that in each file at the start

.mw-home {
  background: $grey_background;
  margin: 0;
  .mw-h1{
    text-align: center;
    margin: 15px 0;
    &:first-child{
      color:  $purple;
    }
  }

	.mw-photo-frame{
    .mw-buttons{
      position: relative;
      width: 100%;
      .prev{
        position: absolute;
        margin-top: 25%;
        left: 15px;
      }
      .next{
        position: absolute;
        margin-top: 25%;
        right: 15px;
      }
    }
  .thumbnail{
    img{
        width: 100%;
      }
    }
	}
  .mw-share{
    border-bottom: 1px solid $grey_border2;
    text-align: center;
    h2{
      font-size: 12px;
      color: $grey_text;
      font-weight: normal;
      display: inline-block;
    }
    .textwidget{
      padding: 10px 0 0 10px;
      vertical-align: middle;
      display: inline-block;
    }
  }
  .primary_ad{
    margin: 15px auto;
  }

  .mw-loading {
    width: 100%;
    background: url("/_moovweb_local_assets_/images/loading.GIF") no-repeat center;
    background-size: 32px 32px;
    height: 200px;
  }

  .carousel_container {
    position: relative;
    height: auto !important; 

    .carousel-button{
    }
    [data-ur-carousel-component="button"]{
      height: calc(100% - 10px);
    }
    a.item-link-container {
      width: 100%;
    }
    .scroll_container {
      overflow: hidden;

      .car_item {
        margin: 10px;
        overflow: hidden;

        .item-container {
        }
        .ob-rec-link-img {
          height: calc(100% - 45px);
        }
        .strip-img {
          width: 100% !important;
          height: 100% !important;
          margin: 5px;
        }

        .strip-rec-link-title {
          text-decoration: none;
          height: 40px;
          padding:5px 0px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .ob_what {
    padding:15px;
    a{
      font-size: 14px;
      font-family:arial;
      color: #606060;
      text-decoration: none;
      margin:15px;
      
    }
  }
  .AR_2,.AR_1,.AR_3,.AR_4{
    width:100% !important;
    margin:10px !important;
  }
  .ob_container{
    width:100% !important;
  }
  .ob_org_header{
    margin-left:28px;
    color: #9ca0a1 !important;
    font-size:14px !important;
  }
  .mw-ob-org-header{
    margin-left: -110px;
  }
  .OUTBRAIN{
    border-bottom:1px solid #32353e;
  }
}