// Every page should have a class on the body
// Scope that in each file at the start

.mw-home {
  background: $grey_background;
  margin: 0;
  .rounded-10 {
    width: 100%;
    overflow: hidden;
  }
  .mw-h1{
    text-align: center;
    font-size: 13px;
    margin: 15px 0;
    &:first-child{
      color:  $purple;
    }
  }

	.mw-photo-frame{
    .mw-buttons{
      position: relative;
      width: 100%;
      .prev{
        position: absolute;
        margin-top: 50%;
        left: 15px;
      }
      .next{
        position: absolute;
        margin-top: 50%;
        right: 15px;
      }
    }
  .thumbnail{
    img{
        width: 100%;
      }
    }
	}
  .mw-browse-share{
    margin: 0 30px 0 30px;
    .mw-share{
      margin-left: 7px;
      h2{
        font-size: 12px;
        color: $grey_text;
        font-weight: normal;
        font-family: $arial;
        display: inline-block;
      }
      .textwidget{
        vertical-align: middle;
        display: inline-block;
        a{
          padding: 0 3px;
        }
      }
    }
  }
  .primary_ad{
    margin: 15px auto;
  }

  .mw-loading {
    width: 100%;
    background: url("/_moovweb_local_assets_/images/loading.GIF") no-repeat center;
    background-size: 32px 32px;
    height: 200px;
  }
 .mw-border{
    border-bottom: 1px solid $grey_border2;
    margin: 15px 30px 15px 30px;
  }
  .carousel_container {
    position: relative;
    height: auto !important; 
    .carousel-button{
    }
    [data-ur-carousel-component="button"]{
      height: calc(100% - 10px);
    }
    a.item-link-container {
      width: 100%;
    }
    .scroll_container {
      overflow: hidden;
      margin-left: 35px;
      .car_item {
        margin: 10px;
        overflow: hidden;

        .item-container {
        }
        .ob-rec-link-img {
          height: calc(100% - 45px);
        }
        .strip-img {
          width: 100% !important;
          height: 100% !important;
          margin: 5px;
        }

        .strip-rec-link-title {
          text-decoration: none;
          height: 40px;
          padding:5px 0px;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $thumbnail_title;
          /*
          display: block;
          display: -webkit-box;
          margin: 0 auto;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;*/
        }
      }
    }
  }
  .ob_what {
    padding:15px;
    a{
      font-size: 14px;
      font-family:arial;
      color: $thumbnail_title;
      text-decoration: none;
      margin:15px;
      
    }
  }
  .AR_2,.AR_1,.AR_3,.AR_4{
    width:100% !important;
    margin: 5px 0px !important;
    padding-top: 5px;
  }
  .AR_2,.AR_1 {
    .ob_container {
      width: 100% !important;
    }
  }
  .ob_org_header{
    margin-left:30px;
    color: #9ca0a1 !important;
    font-size:14px !important;
  }
  .mw-google-ads {
    text-align: center;
  }
    .mw-you-like-container{
    height: $content-carousel-height;
    overflow: hidden;
    padding-top: 0px;
    height: 220px;
    width: 100%;

    .mw-you-like{
      height: 200px;
      margin-left: 10.8%;
    }
    .item-link-container{
      margin-right: 10px;
      margin-left: 10px;
    }
    .item-container{
      width: 100% !important;
      height: 100% !important;
      margin-bottom: 10px !important;
      padding-right: 0px !important;
    }
    .carousel-btn{
      margin-top: 50px;
    }
    .carousel-button-container{
      height: $content-carousel-btn-height;
    }
    .mw-strip-img{
      width: 100% !important;
    }
    .mw-text-content{
      .strip-rec-link-title{
        text-decoration: none;
        color: $thumbnail_title;
        text-overflow: ellipsis;
      }
    }
    .ob_what{
      padding: 0px 10px 10px 15px;
    }
  }
}