.mw-hide {
  display: none !important;
}
.mw-h1{
	font-size:	$h1-font-size;
	font-weight: bold;
	font-family: $arial;
	-webkit-text-size-adjust:none;
}
.mw-content-style{
	color: $white1;
	font-size: $base-font-size;
	font-family: $arial;
	padding-bottom: $std-spacing2;
}
.strip-rec-link-title {
	//white-space: nowrap;
	overflow: hidden;
}
@mixin calculated-prop($prop, $calcheight, $defaultValue){
	#{$prop}: #{$defaultValue};
	#{$prop}: -webkit-calc(#{$calcheight});
	#{$prop}: -moz-calc(#{$calcheight});
	#{$prop}: calc(#{$calcheight});
}
*{
	box-sizing: border-box;
}