.mw-hide {
  display: none !important;
}
.mw-h1{
	font-size:	$h1-font-size;
	font-weight: bold;
	font-family: $arial;
}
.mw-content-style{
	color: #e3e2e2;
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	padding-bottom: 15px;
}
.strip-rec-link-title {
	//white-space: nowrap;
	overflow: hidden;
}
@mixin calculated-prop($prop, $calcheight, $defaultValue){
	#{$prop}: #{$defaultValue};
	#{$prop}: -webkit-calc(#{$calcheight});
	#{$prop}: -moz-calc(#{$calcheight});
	#{$prop}: calc(#{$calcheight});
}