$sprites-url: url("/_moovweb_local_assets_/images/sprites.png");

$sprites-width: 11px;
$sprites-height: 37px;

$sprites-icon-S-left_arrow-x: 0px;
$sprites-icon-S-left_arrow-y: 0px;
$sprites-icon-S-left_arrow-width: 11px;
$sprites-icon-S-left_arrow-height: 18px;

$sprites-icon-S-right_arrow-x: 0px;
$sprites-icon-S-right_arrow-y: -19px;
$sprites-icon-S-right_arrow-width: 11px;
$sprites-icon-S-right_arrow-height: 18px;

@mixin sprites-icon-S-left_arrow() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px 0px;
  width: 11px;
  height: 18px;
}

@mixin sprites-icon-S-right_arrow() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -19px;
  width: 11px;
  height: 18px;
}

.sprites-icon-S-left_arrow {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px 0px;
  width: 11px;
  height: 18px;
}

.sprites-icon-S-right_arrow {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -19px;
  width: 11px;
  height: 18px;
}
