.ob_org_header{
	@extend .mw-h1;
	color: $grey_text;
}
[data-ur-carousel-component="button"] {
	width: 15px;
	z-index: 25;
	background: $grey_background;	
	position: absolute;
	padding: 0 10px;
}
[data-ur-carousel-button-type="prev"] {
	left: 0;	
}
[data-ur-carousel-button-type="next"] {
	right: 0;
}