footer.mw-footer {
	background-color: $grey_footer;
	font-size: $footer-font-size;
	font-family: $sans-serif;
	-webkit-text-size-adjust:none;
	.wrapper{
		margin: $std-spacing;
     }
	.right{
		margin-top: $short-padding;
		margin-left: $logo-width;
		color: $grey_footer_text;
		.mw-anchors{
			padding-top: $short-padding;
			a{
				font-size: $footer-font-size;
				color: $grey_footer_text;
				text-decoration: none;
				font-weight: bold;
			}
		}
		
	}
	.mw-app-logo{
		padding: $std-spacing2 $std-spacing $zero-margin $zero-margin;
		width: $logo-width;
		a{
			float: left;
			img {
				width: 100%;
			}
		}
	}
	.mw-logo{
		padding-top: $short-padding;
		font-weight: bold;
	}
	.mw-google-footer-ad {
		height: 50px;
	}
	ins.adsbygoogle {
	  background-color: white;
	  position: fixed;
	  bottom: $zero-margin;
	  z-index: 100;
	  left: $zero-margin;
	  right: $zero-margin;
	  margin: $zero-margin auto;
  	}
  	@media only screen 
	and (orientation : landscape) {
		.right {
			margin-left: $logo-landscape-width !important;   
		}
		.mw-app-logo{
			width: $logo-landscape-width !important;
		}
	}
}

