footer.mw-footer {
	background-color: $grey_footer;
	font-size: $footer-font-size;
	font-family: $sans-serif;
	.wrapper{
		margin: 10px;
     }
	.right{
		margin-top: 5px;
		margin-left: 30%;
		color: $grey_footer_text;
		.mw-anchors{
			padding-top: 5px;
			a{
				font-size: $footer-font-size;
				color: $grey_footer_text;
				text-decoration: none;
				font-weight: bold;
			}
		}
		
	}
	.mw-app-logo{
		padding: 15px 10px 0 0;
		width: 30%;
		a{
			float: left;
			img {
				width: 100%;
			}
		}
	}
	.mw-logo{
		padding-top: 5px;
		font-weight: bold;
	}
	.mw-google-footer-ad {
		height: 50px;
	}
	ins.adsbygoogle {
	  background-color: white;
	  position: fixed;
	  bottom: 0;
	  z-index: 100;
	  left: 0;
	  right: 0;
	  margin: 0 auto;
  	}

}
