header.mw-header{
	.mw-header-title{
		background: $grey_footer;
		font-size: $small-heading-font-size;
		color: $white2;
		font-family: $arial;
		padding: 12px 0;
		text-align: center;
		border-bottom: 1px solid $grey_border;
	}
	.mw-google-ad{
		text-align: center;
		padding-top: 15px;
	}
}
	