header.mw-header{
	.mw-header-title{
		background: $grey_footer;
		font-size: $small-heading-font-size;
		color: $white4;
		font-family: $arial;
		padding: ($std-spacing -2) 0;
		text-align: center;
		font-weight: bold;
		border-bottom: $border-width solid $grey_border;
	}
	.mw-google-ad{
		text-align: center;
		padding-top: $std-spacing;
	}
}
	